<div class="container">
  <app-loader [isLoading]="(loading$ | async)"></app-loader>
  <div *ngIf="!(loading$ | async) && (artistAlbums$ | async).length > 0">
    <h3>Albums</h3>
    <hr/>
    <div class="row">
      <div class="col mb-3" *ngFor="let album of (artistAlbums$ | async)">
        <div class="card mx-md-0 mx-auto" style="width: 14rem;">
          <img src="{{album.cover_medium}}" class="card-img-top" alt="image" *ngIf="album.cover_medium">
          <img src="/assets/no-image-icon.png" class="card-img-top" alt="image" *ngIf="!album.cover_medium">
        </div>
        <div class="card-body p-0 text-center text-md-start">
          <p>
            <strong>{{album.title}}</strong>
          </p>
          <p>{{album.release_date | date : 'yyyy'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
